body {
	background-color: chartreuse;
	font-size: large;
}

h2 {
	font-size: xx-large;
}
div.info{
	margin-bottom: 10px;
	width: 500px;
	height: 30px;
}
div.info input[type="button"]{
	float:left;
	color: red;
	background: chartreuse;
}


div#gboard {
	width: 500px;
	height: 500px;
    border: 1px solid #ababab;
    background-image: url("https://i.imgur.com/yngH7GK.jpg");
}

#gboard div{
	width: 10px;
	height: 10px;
	box-sizing: border-box;
    float: left;
   
}

#gboard div.glow{
    background-color: rgba(209, 119, 119, 0.747);
    border-color: black;
    border-radius: 10px;
}

#gboard div.food{
    background-color: red;
	border-radius: 10px;
}
